<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.jiaobaowang.gonggaopai">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="gonggaopai.db" />
        //数据库名称
        <meta-data
            android:name="VERSION"
            android:value="1" />
        //数据库版本号
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        //log
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="net.jiaobaowang.gonggaopai.entry" />
        //实体类包名
        <activity
            android:name=".main.MainActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".classes.SetClassesActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pwd.PwdActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Gjku1GSR4UtGbUdzpUdh0lasr49WVWad" />
        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="uHaZ4fdqEEjKjZRxYIEugw8ox2qLSIlU" /> -->

        <activity
            android:name=".main.Main2Activity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".style.StyleActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".style.ImageActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.Main3Activity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.ReaderService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647"> <!-- //优先级 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsCheckActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".timesetting.TimeSettingActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.DownloadIntentService"
            android:exported="false" />
        <service
            android:name=".service.UploadServiceScheduledExecutor"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ipmodify.IpPortActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pwdmodify.PasswordModifyActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".htmladdress.HtmlAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
        <activity android:name=".updateaddress.AppUpdateAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />
    </application>

</manifest>